body {
	background-color: #5A2372;
}

#y {
	color: #F3D650;
	font-size: 48px;
	font-weight: bold;
	font-family: monospace;
}

#y2 {
	color: #F3D650;
	font-size: 24px;
	font-family: monospace;
}

#p1 {
  position: absolute;
  top: 100px;
}
#p2 {
  position: absolute;
  top: 100px;
  left: 120px;
}

